body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#map { 
    height: 60vh;
    width: 100vw; 
}

#controls {
    position: relative;
    top: 10px;
    left: 10px;
    z-index: 1000;
    background: rgba(255, 255, 255, 0.8);
    padding: 8px;
    border-radius: 8px;
    display: flex;
    gap: 8px;
}